<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<connectionStrings>
		<add name="DefaultConnection"
			 connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-TraceabilityV3-20241231095201.mdf;Initial Catalog=aspnet-TraceabilityV3-20241231095201;Integrated Security=True"
			 providerName="System.Data.SqlClient"
			 xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />

		<add name="TraceabilityEntities"
			 connectionString="metadata=res://*/Traceability.csdl|res://*/Traceability.ssdl|res://*/Traceability.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=rclpgsql01.tsb.co.za;initial catalog=Traceability;persist security info=True;user id=srvacc_traceability;password=cIi6z6pG2:429C;encrypt=False;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
			 providerName="System.Data.EntityClient"
			 xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />

		<add name="OMD_DatawarehouseEntities"
			 connectionString="metadata=res://*/OMD_Datawarehouse.csdl|res://*/OMD_Datawarehouse.ssdl|res://*/OMD_Datawarehouse.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=rclpgsql01.tsb.co.za;initial catalog=OMD_Datawarehouse;persist security info=True;user id=srvacc_traceability;password=cIi6z6pG2:429C;encrypt=False;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
			 providerName="System.Data.EntityClient"
			 xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />

		<add name="zzSAPIntegrationTSH_WBEntities"
			 connectionString="metadata=res://*/zzSAPIntegrationTSH_WB.csdl|res://*/zzSAPIntegrationTSH_WB.ssdl|res://*/zzSAPIntegrationTSH_WB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=rclpgsql01.tsb.co.za;initial catalog=zzSAPIntegrationTSH_WB;persist security info=True;user id=srvacc_traceability;password=cIi6z6pG2:429C;encrypt=False;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
			 providerName="System.Data.EntityClient"
			 xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
	</connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the
      <system.web> node, there is no need to use the "xdt:Locator" attribute.

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>
